@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  font-family: 'Poppins';
}

.navbar-brand{
  font-size: 50px;
  color: rgba(228,86,68);
  font-weight: bold;

}
.nav-item{
  margin: 15px;
  margin-bottom: 0px;
}
.nav-item a{
  color:rgba(228,86,68);
  font-size: 18px;
}

.btn{
  background-color:rgba(228,86,68);

}

.container-fluid{
  display: flex;
  justify-content: space-between;
}

.navbar-nav a:hover{
  border-bottom: rgba(228,86,68);
  font-weight: bold;
  text-decoration: underline;
}



