<footer>
  <div class="container-fluid">
      <div class="footer">
          <div class="footer-part-2">
            <ul style="list-style-type:none">
                <li><a href="#">Recipes</a></li>
                <li><a href="#">Meal Planner</a></li>
                <li><a href="#">Speciality Meal Plans</a></li>
            </ul>
        </div>
      <div class="footer-part-1">
          <ul style="list-style-type:none">
              <li><a href="#">Blog</a></li>
              <li><a href="#">Grocery List</a></li>
              <li><a href="#">Sign Up</a></li>
          </ul>
      </div>
          <div class="footer-form-email">
              <h2>Newsletter</h2>
              <p>Sign up to receive email updates on new courses, announcements, schedule updates and more.</p>
              <input type="email" id="email-add" name="email-add" placeholder="Enter email address"> <br>
              <input type="submit" value="Subscribe" id="footer-email-btn">
          </div>
      </div>
      <hr>
      <p class="copyright" align="center">&copy; 2024 CHEFHUB. ALL RIGHTS RESERVED</p>

  </div>
</footer>

