<div class="container">
  <div class="speciality-header">
    <h2>Speciality Meal Plans</h2>
    <h3>Too busy to plan?</h3>
    <p>Subscribe to our dietitian-prepared Specialty Meal Plans which offer balanced nutrition, each and every week and can be easily customized to your personal tastes.</p>
  </div>
  <div class="meal-plans">
    <div class="meal-plan">
      <img src="assets/image_14.png" alt="12 Week Meal Plan">
      <h3>12 Week Meal Plan</h3>
    </div>
    <div class="meal-plan">
      <img src="assets/image_16.png" alt="Low-Carb">
      <h3>Low-Carb</h3>
    </div>
    <div class="meal-plan">
      <img src="assets/image_15.png" alt="Gluten-Free">
      <h3>Gluten-Free</h3>
    </div>
    <div class="meal-plan">
      <img src="assets/image_17.png" alt="Pescatarian">
      <h3>Pescatarian</h3>
    </div>
    <div class="meal-plan">
      <img src="assets/image_19.png" alt="Vegetarian">
      <h3>Vegetarian</h3>
    </div>
    <div class="meal-plan">
      <img src="assets/image_18.png" alt="Vegan">
      <h3>Vegan</h3>
    </div>
  </div>
  <div class="speciality-btn"><a href="#" class="btn">SEE MORE</a></div>
</div>
