<div class="container">
  <div class="content-box">
    <div class="left"></div>
    <div class="right">
      <h2>Sign Up Now</h2>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div>
          <div style="display: flex; justify-content: left;">
            <label for="email" style="padding-right: 10px;margin-top: 10px;">Email</label>
            <input id="email" type="email" formControlName="email">
          </div>
          <!-- Display email validation errors -->
          <div *ngIf="signupForm.controls['email']?.invalid && (signupForm.controls['email']?.dirty || signupForm.controls['email']?.touched)">
            <div *ngIf="signupForm.controls['email']?.errors?.['required']" style="color: red; margin-bottom: 10px;">Email is required.</div>
            <div *ngIf="signupForm.controls['email']?.errors?.['email']" style="color: red; margin-bottom: 10px;">Email is invalid.</div>
          </div>
        </div>

        <div>
          <div style="display: flex; justify-content: left;">
            <label for="password" style="padding-right: 10px;margin-top: 10px;">Password</label>
            <input id="password" type="password" formControlName="password">
          </div>
          <!-- Display password validation errors -->
          <div *ngIf="signupForm.controls['password']?.invalid && (signupForm.controls['password']?.dirty || signupForm.controls['password']?.touched)">
            <div *ngIf="signupForm.controls['password']?.errors?.['required']" style="color: red; margin-bottom: 10px;">Password is required.</div>
            <div *ngIf="signupForm.controls['password']?.errors?.['minlength']" style="color: red; margin-bottom: 10px;">Password must be at least 6 characters long.</div>
          </div>
        </div>

        <button type="submit" [disabled]="signupForm.invalid" class="btn">Sign Up</button>
      </form>

    </div>
  </div>
</div>

