<section class="image-container">
  <img src="assets/image_1.jpg"  style="width:100%">
   <div class="text">
       <h1>ChefHub</h1><br>
       <p>"We bring you the best meal planner in town!"</p>
   </div>
</section>

<h2 id="title">How It Works?</h2>
<!--Browse Healthy Recipes Section-->
<section class="browse-healthy-recipes">
  <div class="browse-img">
    <img src="assets/image_20.png" alt="">
  </div>
  <div class="browse-text">
    <h2>Browse Healthy Recipes</h2>
     <p>We've got hundreds of delicious recipes for every taste and dietary preference. Browse them all using our Search and Filter tools and choose the ones that are right for you.</p>
 </div>
</section>

<!--Design Meal Plan Section-->
<section class="design-meal-plan">
  <div class="design-meal-text">
    <h2>Design a Meal Plan</h2>
     <p>Use our Meal Planning tool to add recipes to your weekly meal plan. It's as simple as drag and drop (or select and place on mobile). You can add as many recipes as you want and keep track of your daily calorie intake.</p>
 </div>
 <div class="design-meal-img">
  <img src="assets/image_21.png" alt="">
</div>
</section>

<!--Grocery List Section-->
<section class="grocery-list">
  <div class="grocery-img">
    <img src="assets/image_22.png" alt="">
  </div>
  <div class="grocery-text">
    <h2>Create a Grocery List</h2>
     <p>When it's time to hit the supermarket, click Create Grocery List to generate a list of ingredients you'll need to get cooking. You can set the number of servings, add any extras, and check items off as you shop.</p>
 </div>
</section>
